* {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans";
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav_list {
  margin-top: 0.7rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  width: 95%;
  margin: 0 auto;
}

.nav_ul {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.nav_li-link {
  font-size: 1.3rem;
  font-weight: 500;
  color: #240046;
  opacity: 0.7;
}

.nav_li-link:hover {
  opacity: 1;
}

.nav_logo-header_link {
  font-size: 2rem;
  font-weight: 600;
  color: #264653;
}

.nav_main-video {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.main {
  width: 80%;
  margin: 0 auto;
  margin-top: 10rem;
}

.main_btn-div {
  width: 16%;
  margin: 0 auto;
  margin-top: 5rem;
}

.main_btn {
  border: none;
  background-color: #264653;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.3rem;
  opacity: 0.7;
  cursor: pointer;
}

.main_btn:hover {
  opacity: 1;
}

.information_box {
  width: 90%;
  margin: 0 auto;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.information {
  margin-top: 20rem;
  background-color: #d8e2dc;
  overflow-y: hidden;
  position: relative;
}

.svg {
  position: absolute;
  right: 0;
  z-index: 0;
}

.info-vare {
  margin-bottom: 4rem;
  font-size: 1.3rem;
}

.info-img {
  display: flex;
}

.data-img {
  width: 40rem;
}

.info {
  display: flex;
  justify-content: space-between;
  z-index: 99999;
  background-color: #d8e2dc;
}

.info_category {
  width: auto;
}

.info_texts {
  width: 30rem;
  color: #264653;
  font-size: 1.2rem;
  margin-top: 1rem;
  letter-spacing: 3px;
}

.info_category-number {
  color: #023047;
}

.info_category {
  color: #e91e63;
  display: flex;
  gap: 1rem;
}

.info_text {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.info-gap {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.inner-carousel {
  display: flex;
  margin-top: 4rem;
}

.carousel {
  cursor: pointer;
  overflow: hidden;
}

.inner-carousel-map {
  padding-left: 3rem;
  padding-right: 3rem;
}

.sponsor_img {
  width: 13rem;
  height: 7rem;
}

.support {
  margin-top: 8rem;
}

.support_header {
  text-align: center;
  color: #e91e63;
}

footer {
  background-color: #33519c;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 5rem;
}

.footer_li-link {
  color: white;
}

.foooter_top {
  display: flex;
  justify-content: space-around;
}

.footer_ul {
  gap: 3rem;
}

.footer_bottom {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}

.footer_hr {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}

.index-module_type__E-SaG {
  font-size: 2.7rem;
  font-family: "Fira Sans";
  color: #023047;
  font-weight: 500;
  letter-spacing: 7px;
}

.main_type {
  text-align: center;
}

.about {
  background-image: url(../../public/cityPhoto/about-bg.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  overflow: hidden;
}

.aboutNav_li-link {
  color: white;
}

.about-main {
  height: 35rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.about-main_header {
  color: #f6fff8;
  width: auto;
  font-size: 2rem;
}

.about_main-flag_img {
  width: 30rem;
  height: 40rem;
}

.flag {
  display: flex;
  overflow-x: hidden;
}

.slide_flag-img {
  width: 50%;
  background-color: #a8dadc;
}

.slide_flag-text {
  width: 50%;
  background-color: #457b9d;
}

.flag_text {
  padding-left: 4rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about_main-flag_div {
  float: right;
}

.about_main-link-wikipedia {
  width: 5rem;
  font-size: 1rem;
  color: white;
}

.about_main-flag_name {
  color: #e91e63;
}

.about_main-flag-text {
  width: 23rem;
  letter-spacing: 2px;
}

.about_link-icons {
  position: absolute;
  bottom: 0.05rem;
  right: -1.5rem;
}

.about_main-link-wikipedia {
  position: relative;
}

.airAbout_img {
  width: 35rem;
  height: 25rem;
}

.air_main {
  display: flex;
  overflow-x: hidden;
}

.airAbout_text {
  padding-right: 4rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  float: right;
}

.airAbout_name {
  color: #e91e63;
}

.airAbout_texts {
  width: 26rem;
  letter-spacing: 2px;
}

.slide_airAbout-text {
  width: 50%;
  background-color: #1a759f;
}

.slide_airAbout-img {
  width: 50%;
  background-color: #1e6091;
}

.about_main-flag_div {
  display: flex;
}

.airAbout_img-div {
  display: flex;
}

.faq {
  width: 70%;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.coTures {
  background-color: #33519c;
}

.tures {
  margin-top: 2rem;
}

.tures_cart {
  border-radius: 12px;
  background-color: #bde0fe;
}

.tures_cart-img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 25rem;
  height: 15rem;
}

.tures_cart-name {
  font-size: 1.3rem;
}

.tures_cart-img_position {
  position: relative;
}

.tures_info-map {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.tures_cart-img {
  position: relative;
}

.tures_cart-country_flag {
  position: absolute;
  left: 0;
  width: 3rem;
  height: 2rem;
  border-top-left-radius: 12px;
}

.detail_img {
  width: 40rem;
  height: 30rem;
}

.detail_map {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 5rem;
}

.detail_sell {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
  gap: 1.4rem;
}

.tures_cart-icon-none {
  display: none;
  transition: 1s;
  transform: rotate(90deg);
}

.tures_cart-icon {
  cursor: pointer;
  right: 2rem;
  width: 2.5rem;
  top: 0;
  height: 2.5rem;
  color: red;
}

.tures_cart-heart-btn {
  display: flex;
  gap: 0.2rem;
}

.tures_cart-allBtn {
  display: flex;
  justify-content: space-between;
}

.tures_cart-name {
  font-size: 1.3rem;
  font-weight: 500;
  color: #023047;
}

.tures_cart-price {
  font-size: 1.9rem;
  color: #e91e63;
  display: flex;
  justify-content: end;
}

.tures_cart-btn {
  cursor: pointer;
  padding: 7px 20px;
  font-size: 1rem;
  background-color: #1a759f;
  color: white;
  border: none;
  border-radius: 9px;
}

.tures_cart-texts {
  padding: 15px 20px;
}

.detail_sell-name {
  font-size: 2;
  font-weight: 500;
  color: #240046;
}

.detail_sell-price {
  font-size: 2.5rem;
  color: #e91e63;
}

.date {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detail_form {
  display: flex;
  gap: 1rem;
}

.date_icons {
  margin-top: 1.6rem;
  width: 2rem;
  height: 2rem;
}

.date_label {
  font-size: 1.2rem;
}

.date_input {
  font-size: 1rem;
  padding: 8px 25px;
  outline: none;
}

.person_number-icons {
  width: 1rem;
  height: 1rem;
  color: white;
}

.person_number-btn {
  border: none;
  background-color: #1a759f;
  padding: 5px 8px;
  border-radius: 9px;
  cursor: pointer;
}

.person_number {
  font-size: 1.5rem;
}

.person_number-div {
  display: flex;
  gap: 1rem;
}

.detail_btn {
  border: none;
  font-size: 16px;
  color: white;
  border-radius: 9px;
  background-color: #1a759f;
  padding: 8px 20px;
}

.tures_info-map {
  margin-top: 5rem;
}

.filter_not-favorite {
  width: 100%;
  color: #e91e63;
  letter-spacing: 2px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  height: 20rem;
}

.tures_bg {
  background-image: url(../../public/background/sea-4955005_1920.jpg);
  background-size: 100%;
  height: 35rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tures_bg-inp_div {
  position: relative;
}

.tures_bg-inp_label {
  background-color: white;
  border: none;
  position: absolute;
  right: 0;
  top: 0.7rem;
}

.tures_bg-inp_label-search {
  width: 1.5rem;
  height: 1.5rem;
}

.tures_bg-inp {
  outline: none;
  width: 28rem;
  height: 3rem;
  padding: 3px 24px;
  border: none;
  border-radius: 12px;
}/*# sourceMappingURL=app.css.map */