$nav-fonts:1.3rem;
$margin-top:5rem;
$margin-top-page:10rem;
*{
    padding: 0;
    margin: 0;
    // font-family: 'Open Sans';
    font-family: 'Fira Sans';
    
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.nav_list{
    margin-top: 0.7rem;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    width: 95%;
    margin: 0 auto;
    
}
.nav_ul{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
.nav_li-link{
    
    font-size: ($nav-fonts);
    font-weight: 500;
    color: #240046;
    opacity: 0.7;
}
.nav_li-link:hover{
    opacity: 1;
}
.nav_logo-header_link{
    font-size: 2rem;
    font-weight: 600;
    color: #264653;
}
.nav_main-video{
    width: 100%;
    position: absolute;
    z-index: -1;
}

.main{
    width: 80%;
    margin: 0 auto;
    margin-top: $margin-top-page;
}
.main_btn-div{
    width: 16%;
    margin: 0 auto;
    margin-top: $margin-top;
}
.main_btn{
    border: none;
    background-color: #264653;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:20px ;
    padding-bottom: 20px;
    font-size: 1.3rem;
    opacity: 0.7;
    cursor: pointer;
}
.main_btn:hover{
    opacity: 1;
}
.information{
    width: 90%;
    margin: 0 auto;
    margin-top: 26rem;
}
.info-vare{
    margin-bottom: 4rem;
    font-size: 1.3rem;
}

.info-img{
    display: flex;
}
.data-img{
    width: 40rem;
}

.info{
    display: flex;
    justify-content: space-between;   
}
.info_category{
    width: auto;
}
.info_texts{
    width: 30rem;
    color: #264653;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.info_category-number{
    color: #023047;
    
}
.info_category{
    color: #e91e63;
    display: flex;
    // flex-direction: column;
    gap: 1rem;
}
.info_text{
    padding-left: 25px ;
    padding-right:25px ;
    padding-top:30px ;
    padding-bottom:20px ;
   
}
.info-gap{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.inner-carousel {
    display: flex;
    margin-top: 4rem;
  }
  
  .carousel {
    cursor: pointer;
    overflow: hidden;
  }
  
  .inner-carousel-map {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .sponsor_img {
    width: 13rem;
    height: 7rem;
  }
  
  .support {
    margin-top: 8rem;
  }
  
.support_header{
    text-align: center;
    color: #e91e63;
}

footer{
    background-color: #33519c;
    padding-left:3rem ;
    padding-right: 3rem;
    padding-top:1rem ;
    padding-bottom:1rem ;
    margin-top: 5rem;
}
.footer_li-link{
    color: white;
}
.foooter_top{
    display: flex;
    justify-content: space-around;
}
.footer_ul{
   gap: 3rem; 
}
.footer_bottom{
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
}
.footer_hr{
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
}
.index-module_type__E-SaG{
    font-size:2.7rem;
    font-family: 'Fira Sans';
    color: #023047;
    font-weight: 500;
    letter-spacing: 7px;
}
.main_type{
    text-align: center;
}
